﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/Manager.Master" AutoEventWireup="true" CodeBehind="MangerMainPage.aspx.cs" Inherits="iControlWorkV5.Pages.MangerMainPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
