﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TrippingReportView.aspx.cs" EnableEventValidation="true" Inherits="iControlWorkV5.Pages.TrippingReportView" %>

<%--<%@ Register assembly="DatePickerControl" namespace="DatePickerControl" tagprefix="cc1" %>--%>

<%--<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc2" %>

<%@ Register assembly="TimePicker" namespace="MKB.TimePicker" tagprefix="MKB" %>--%>

<!DOCTYPE html>




<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style4 {
            height: 23px;
        }
        .auto-style7 {
            font-size: large;
        }
        .auto-style9 {
            height: 27px;
        }
        .auto-style10 {
            width: 102px;
            height: 23px;
        }
        .auto-style13 {
            width: 25px;
        }
        .auto-style14 {
            width: 25px;
            height: 117px;
        }
        .auto-style16 {
            height: 117px;
        }
        #TextArea1 {
            width: 348px;
            height: 147px;
        }
        #CauseOfTripping {
            height: 212px;
            width: 602px;
        }
        #TrippingDescription {
            width: 602px;
            height: 221px;
        }
        #Comment {
            width: 579px;
            height: 212px;
        }
        #CauseOfTrippingTextArea {
            height: 222px;
            width: 628px;
        }
        #TrippingDescriptionTextArea {
            height: 268px;
            width: 632px;
        }
        .auto-style17 {
            width: 25px;
            height: 45px;
        }
        .auto-style18 {
            height: 45px;
        }
    </style>
</head>
<body>
    
    <form id="form1" runat="server">
    <div>
    
        <table class="auto-style1" border="0">
            <tr>
                <td class="auto-style10" colspan="2">
                    <asp:Label ID="UserNameLabel" runat="server" Text="UserNameLabel"></asp:Label>
                    <br />
                    <asp:Label ID="badgeNoLabel" runat="server" Text="BadgeNoLabel"></asp:Label>
                </td>
                <td class="auto-style4" colspan="2"></td>
            </tr>
           
            <tr>
                <td class="auto-style4" colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><span class="auto-style7">View Tripping Report Page</span></strong>&nbsp;</td>
            </tr>
           
            <tr>
                <td class="auto-style9" colspan="4">
                    <asp:Label ID="errorMessageLabel" runat="server" Text=""></asp:Label>
                </td>
            </tr>
           
            <tr>
                <td class="auto-style4"></td>
                <td class="auto-style4" colspan="2">Tripping Report Number </td>
                <td class="auto-style4">
                    <asp:Label ID="TrippingReportLabel" runat="server" Text="TrippingReportLabel"></asp:Label>
                </td>
            </tr>
           
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Tripping Date </td>
                <td class="auto-style18">
                    <br />
                    <asp:TextBox ID="trippingReportDateTextBox" runat="server" Width="375px" AutoPostBack="True"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Tripping Time </td>
                <td class="auto-style18">
                    <asp:TextBox ID="trippingTimeTextBox" runat="server" Width="373px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style14"></td>
                <td class="auto-style24" colspan="2">Cause of Tripping </td>
                <td class="auto-style16">
                    <asp:TextBox ID="causeOfTrippingTextBox" runat="server" Height="78px" TextMode="MultiLine" Width="373px" AutoPostBack="True"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Actual Restoration Time </td>
                <td class="auto-style18">
                    <asp:TextBox ID="actualRestorationTimeTextBox" runat="server" Width="370px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Expected Restoration Time </td>
                <td class="auto-style18">
                    <asp:TextBox ID="expectedResotrationTimeTextBox" runat="server" Width="368px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Actual Restoration Date</td>
                <td class="auto-style18">
                    <asp:TextBox ID="actualRestorationDateTextBox" runat="server" Width="368px"></asp:TextBox>
                    <br />
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Expected Restoration Date</td>
                <td class="auto-style18">
                    <asp:TextBox ID="expectedRestorationDateTextBox" runat="server" Width="366px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Network Area </td>
                <td class="auto-style18">
                    <asp:DropDownList ID="NetworkAreaDropDownList" runat="server" Height="17px" Width="375px">
                        <asp:ListItem>Riyadh</asp:ListItem>
                        <asp:ListItem>Kharj</asp:ListItem>
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Voltage Level </td>
                <td class="auto-style18">
                    <asp:DropDownList ID="VoltageLevelDropDownList" runat="server" Height="17px" Width="375px">
                        <asp:ListItem>1</asp:ListItem>
                        <asp:ListItem>2</asp:ListItem>
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td class="auto-style13">&nbsp;</td>
                <td class="auto-style23" colspan="2">Tripping Description </td>
                <td>
                    <asp:TextBox ID="trippingDescriptionTextBox" runat="server" Height="79px" TextMode="MultiLine" Width="376px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style18"></td>
                <td class="auto-style18" colspan="2">Substation </td>
                <td class="auto-style18">
                    <asp:DropDownList ID="SubstationDropDowmList" runat="server" Height="17px" Width="375px">
                        <asp:ListItem>1</asp:ListItem>
                        <asp:ListItem>2</asp:ListItem>
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Circuit Equipment </td>
                <td class="auto-style18">
                    <asp:DropDownList ID="CircuitEquipmentDropDownList" runat="server" Height="17px" Width="375px">
                        <asp:ListItem>1</asp:ListItem>
                        <asp:ListItem>2</asp:ListItem>
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Lost Supply Area </td>
                <td class="auto-style18">
                    <asp:DropDownList ID="LostSupplyAreaDropDownList" runat="server" Height="17px" Width="375px">
                        <asp:ListItem>1</asp:ListItem>
                        <asp:ListItem>2</asp:ListItem>
                    </asp:DropDownList>
                </td>
            </tr>
            <tr>
                <td class="auto-style18"></td>
                <td class="auto-style18" colspan="2">Power Lost Volume </td>
                <td class="auto-style18">
                    <asp:TextBox ID="PowerLostVolumeTextBox" runat="server" Width="372px" CausesValidation="True" Height="27px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Number of Effected Consumers </td>
                <td class="auto-style18">
                    <asp:TextBox ID="NumberOfEffectedConsumersTextBox" runat="server" Width="372px" CausesValidation="True" Height="27px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style17"></td>
                <td class="auto-style18" colspan="2">Protection Relay </td>
                <td class="auto-style18">
                    <asp:TextBox ID="ProtectionRelayTextBox0" runat="server" Width="372px" CausesValidation="True" Height="28px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style13">&nbsp;</td>
                <td class="auto-style23" colspan="2">Comment </td>
                <td>
                    <asp:TextBox ID="commentTextBox" runat="server" Height="86px" TextMode="MultiLine" Width="372px"></asp:TextBox>
                </td>
            </tr>
            <tr>
                <td class="auto-style13">&nbsp;</td>
                <td class="auto-style23" colspan="2">&nbsp;</td>
                <td>
                    <asp:Button ID="UpdateButton" runat="server" OnClick="UpdateButton_Click" Text="Update" />
&nbsp;
                    <asp:Button ID="BackButton" runat="server" OnClick="Button1_Click" Text="Back" />
                </td>
            </tr>
        </table>
    
    </div>
        
    </form>
</body>
</html>
