﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/ControlEngineer.Master" AutoEventWireup="true" CodeBehind="ViewTrippingReport.aspx.cs" Inherits="iControlWorkV5.Pages.ViewTrippingReport" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
    <asp:UpdatePanel ID="UpdatePanel1" runat="server">
        <ContentTemplate>
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            <br />
            <br />
            <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
            <br />
            <asp:UpdateProgress ID="UpdateProgress1" runat="server">
                
                <ProgressTemplate>
                    Please wait...
                </ProgressTemplate>
                
            </asp:UpdateProgress>
            <br />
            <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
            <br />
            <br />
            <asp:Label ID="Label1" runat="server" Text="Sum"></asp:Label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <asp:Label ID="SumLabel" runat="server" Text=""></asp:Label>
            <br />
            <br />
            <asp:Label ID="Label3" runat="server" Text="Multiple"></asp:Label>
            &nbsp;&nbsp;&nbsp;
            <asp:Label ID="MulitpleLabel" runat="server" Text=""></asp:Label>
            <br />
        </ContentTemplate>



    </asp:UpdatePanel>


</asp:Content>
