﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/MasterPage.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="iControlWorkV5.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .newStyle1 {
            background-image: url('../Image/powergrid.jpg');
        }
        .newStyle2 {
            background-image: url('../Image/powergrid.jpg');
        }
        .auto-style1 {
            direction: ltr;
            text-align: left;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
  
     
    

    <div style="text-align: justify; background-image: url('/Image/powergrid.jpg'); background-size:100%; position: relative; height: 750px; width: 1500px;" class="auto-style1" >

       
        <p style="height: 27px; width: 150px; margin-left: 64px; margin-top: 64px;"> <strong style="direction: ltr">Enter User Name</strong></p>
        <asp:TextBox ID="usernameTextBox" Text ="" runat ="server" style="margin-left: 64px" Width="144px" Height="25px" />
        

        <p style="height: 27px; width: 150px; margin-left: 64px;"><strong>Enter Password</strong></p>
       
        <asp:TextBox ID="passwordTextBox" Text ="" runat ="server" TextMode="Password" style="margin-left: 64px" Width="144px"  Height="25px"/>
        <p><asp:Button ID ="submitButtion" Text="Log in" runat="server" OnClick="submitEventMethod" Height="26px" style="text-align: left; margin-left: 66px;" /></p>
        <p style="margin-left: 64px;"><asp:Label ID="errorMessageLabel" Text="" runat ="server" /></p>

    </div>
       
</asp:Content>
